streamlit
# utilitites
numpy
pandas

# face reconization
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition
setuptools<70.0.0

supabase   # fo free database
bcrypt # for password protection 

segno # for qr code generation
pillow   # for image preprocessing



librosa>=0.10.0,<0.12.0   # file load ,edit ,remove noise,create embeddings
resemblyzer # it use to make  the embeddings of voice so futher we can compare with voice